*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: 'Roboto Mono', monospace;
    color: #00A400;
    box-sizing: border-box;
}
.chart{
    height: 100vh;
    padding: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7,[column-start] 1fr [column-end]);
    grid-template-rows: repeat(7,[row-start] minmax(50px, min-content ) [row-end]);
    grid-auto-rows:minmax(34px,min-content);
    gap: 50px 0;
}
.day{
    grid-row: 1/span 1;
    position: relative;
    font-size: 22px;
    text-align: center;
    align-self: center;
}
.day::after{
    content: "";
    height: 100vh;
    width: 1px;
    background-color: #00CD00;
    position: absolute;
    top: 0;
    right: 0;
}
.day--7::after{
    height: 0;
    width: 0;
}
.item{
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 100px;
    background-color: teal;
    align-self: center;
    text-align: center;
    z-index: 2;
}

.item--1{
    background-color: #420420;
    grid-row: row-start 2/ span 1;
    grid-column: column-start 1 / span 5;
}
.item--2{
    background-color: #407294;
    grid-row: row-start 3/ span 1;
    grid-column: column-start 1 / span 7;
}
.item--3{
    background-color: #133337;
    grid-row: row-start 4/ span 1;
    grid-column: column-start 6 / span 2;
}
.item--4{
    background-color: #bada55;
    grid-row: row-start 5/ span 1;
    grid-column: column-start 3 / span 3;
}
.item--5{
    background-color: #000080 ;
    grid-row: row-start 6/ span 1;
    grid-column: column-start 7 / span 1;
}